# Data
data/raw/*.json
data/dbt_raw/*.csv
*.duckdb
*.duckdb.wal

# dbt 
logs/
target/
dbt_packages/

# Settings files
__pycache__/
.devcontainer/
.vscode/
.user.yml

# To keep
!data/*.gitkeep